osmnx>=1.9.0
networkx>=3.2
numpy>=1.26.0
matplotlib>=3.8.0
pandas>=2.1.0
pyyaml>=6.0
tqdm>=4.66.0

# Sprint 2 en adelante (paralelismo CPU) - descomentar cuando se implemente
# numba>=0.59.0

# Sprint 3 en adelante (GPU) - requiere CUDA Toolkit instalado, descomentar cuando se implemente
# pycuda>=2024.1
